<mat-toolbar class="top-bar">
  @if (user.role === "admin") {
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="menu-icon"
      aria-label="Menu Icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button routerLink="/admin" routerLinkActive="disabled" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Go To Admin</span>
      </button>
      <button routerLink="/parking" routerLinkActive="disabled" mat-menu-item>
        <mat-icon>directions_car</mat-icon>
        <span>Go To Parking</span>
      </button>
    </mat-menu>
  }

  <span>Parking App</span>
  <span class="spacer"></span>
  <button
    (click)="logout()"
    mat-icon-button
    class="logout-icon"
    aria-label="Logout Icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
