<app-top-bar></app-top-bar>

<h1>Parqueo UNANDES</h1>
<section class="parking-container">
  <div class="parking-container__header">
    <img src="assets/images/logo-unandes.jpg" alt="logo-unandes" />
  </div>
  <div class="parking-container__main">
    <div class="parking-info">
      <p>
        <mat-icon
          class="car-icon-occupied"
          fontIcon="directions_car"
        ></mat-icon>
        Ocupado
      </p>
      <p>
        <mat-icon
          class="car-icon-available"
          fontIcon="directions_car"
        ></mat-icon>
        Disponible
      </p>
      <!-- <p> -->
      <!--   <mat-icon -->
      <!--     class="car-icon-not-available" -->
      <!--     fontIcon="directions_car" -->
      <!--   ></mat-icon> -->
      <!--   No Disponible -->
      <!-- </p> -->
    </div>

    <div class="parking">
      @for (slot of parkingSlots | keyvalue; let idx = $index; track slot) {
        <div
          class="parking__slot"
          [ngClass]="{
            occupied: slot.value === 0,
            available: slot.value === 1,
          }"
        >
          P {{ idx + 1 }}
        </div>
      }
    </div>
  </div>
</section>
