<h1>Car Parking Panel</h1>

<div class="parking-info">
  <p>
    <mat-icon class="car-icon-occupied" fontIcon="directions_car"></mat-icon>
    Ocupado
  </p>
  <p>
    <mat-icon class="car-icon-available" fontIcon="directions_car"></mat-icon>
    Disponible
  </p>
  <p>
    <mat-icon
      class="car-icon-not-available"
      fontIcon="directions_car"
    ></mat-icon>
    No Disponible
  </p>
</div>

<section class="parking">
  <div class="parking__slot">P1</div>
  <div class="parking__slot">P2</div>
  <div class="parking__slot">P3</div>
  <div class="parking__slot">P4</div>
  <div class="parking__slot">P5</div>
  <div class="parking__slot available">P6</div>
  <div class="parking__slot occupied">P7</div>
  <div class="parking__slot available">P8</div>
  <div class="parking__slot">P9</div>
  <div class="parking__slot">P10</div>
</section>
